.tag {
    margin-top: 8px;
    margin-bottom: 4px;
}

.img {
    // width: 500px;
    height: 100%;
    margin: auto;
}

[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

.title {
    font-weight: bold
}

.functions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.like {
    color:#dc143c;
    font-size: 30px;
}

.buy {
    color:#3399ff;
    font-size: 30px;
}