<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="600" [nzVisible]="isVisible"
    nzTitle="资源详细信息" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
            <div nz-col nzSpan="24">
                <nz-carousel nzAutoPlay>
                    <div nz-carousel-content *ngFor="let path of resourceFilesPath">
                        <img nz-image class="img" [nzSrc]="path" alt="" />
                    </div>
                </nz-carousel>
            </div>

            <div *ngIf="currentUser" class="functions" nz-col nzSpan="24">
                <button nz-button nzType="primary" nzShape="circle" (click)="addToCart()" nzTooltipTitle="加入购物车" nzTooltipPlacement="topLeft"
                    nz-tooltip>
                    <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
                </button>
                <span class="like" nz-icon nzType="heart" [nzTheme]="userFavorite ? 'fill' : 'outline'"
                    (click)="changeFavorite()"></span>
            </div>

            <div nz-col nzSpan="24">
                <nz-divider class="title" nzText="基本信息" nzOrientation="left"></nz-divider>
                <nz-descriptions>
                    <nz-descriptions-item nzTitle="标题">{{title}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="资源类型">{{resourceType?.name}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="价格">{{price}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="创建者">{{user?.username}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="创建时间" [nzSpan]="2">{{createdAt}}</nz-descriptions-item>
                    <nz-descriptions-item nzTitle="描述" [nzSpan]="3">{{description}}</nz-descriptions-item>
                </nz-descriptions>
            </div>

            <div nz-col nzSpan="24">
                <nz-divider class="title" nzText="评论" nzOrientation="left"></nz-divider>
                <nz-list [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                    <ng-template #item let-item>
                        <nz-comment [nzAuthor]="item.user.username" [nzDatetime]="item.createdAt">
                            <nz-avatar nz-comment-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
                            <nz-comment-content>
                                <p>{{ item.content }}</p>
                            </nz-comment-content>
                            <nz-comment-action>Reply to</nz-comment-action>
                        </nz-comment>
                    </ng-template>
                </nz-list>

                <nz-comment *ngIf="currentUser">
                    <nz-avatar nz-comment-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
                    <nz-comment-content>
                        <nz-form-item>
                            <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                        </nz-form-item>
                        <nz-form-item>
                            <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue"
                                (click)="handleSubmit()">
                                添加评论
                            </button>
                        </nz-form-item>
                    </nz-comment-content>
                </nz-comment>
            </div>
        </div>
    </ng-container>
</nz-drawer>