<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="500" [nzVisible]="isVisible"
    [nzTitle]="pageTitleChinese" [nzFooter]="footerTpl" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">Id</nz-tag><br />
                <input type="text" nz-input [(ngModel)]="id" disabled="true" />
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">用户名</nz-tag><br />
                <input type="text" nz-input [(ngModel)]="username" placeholder="Input username" />
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">密码</nz-tag><br />
                <input type="text" nz-input [(ngModel)]="password" placeholder="Input password" />
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">邮箱</nz-tag><br />
                <input type="text" nz-input [(ngModel)]="email" placeholder="Input email" />
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">年龄</nz-tag><br />
                <nz-input-number [(ngModel)]="age" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">余额</nz-tag><br />
                <nz-input-number [disabled]="disableRole" [(ngModel)]="money" [nzMin]="0" [nzMax]="99999999" [nzStep]="1"></nz-input-number>
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">角色</nz-tag><br />
                <nz-select [(ngModel)]="role" [disabled]="disableRole">
                    <nz-option *ngFor="let r of roles" [nzValue]="r" [nzLabel]="r"></nz-option>
                </nz-select>
            </div>
        </div>
    </ng-container>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">取消</button>
            <button nz-button nzType="primary" (click)="submit()">提交</button>
        </div>
    </ng-template>
</nz-drawer>