<div nz-col nzSpan="24">
    <nz-select [(ngModel)]="selectedResourceType" (ngModelChange)="onSelectResourceTypeChange($event)">
        <nz-option *ngFor="let r of resourceTypes" [nzValue]="r.id" [nzLabel]="r.name"></nz-option>
    </nz-select>

    <nz-select *ngIf="currentUser" style="width: 100px" [(ngModel)]="selectedUserFavorite" (ngModelChange)="onSelectedUserFavoriteChange($event)">
        <nz-option *ngFor="let favorite of userFavorites" [nzValue]="favorite.id" [nzLabel]="favorite.name"></nz-option>
    </nz-select>
</div>

<nz-image-group class="gallery" id="gallery" (window:resize)="onResize($event)">
    <div class="gallery-item" *ngFor="let resource of resources">
        <div class="content" (click)="openResource(resource)">
            <img (load)="onImageLoad($event)" [nzDisablePreview]="true" nz-image
                nzSrc="{{resource.firstResouceFilePath}}" [nzFallback]="fallback" alt="" />
        </div>
    </div>
</nz-image-group>

<app-home-resource-view-detail (isNeedRefresh)="refresh()"></app-home-resource-view-detail>