<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <div nz-col [nzSpan]="24">
        <button nz-button nzType="primary" (click)="createAnnouncement()" nzTooltipTitle="新建"
            nzTooltipPlacement="topLeft" nz-tooltip>
            <i nz-icon nzType="plus-square" nzTheme="fill"></i>
        </button>
        <br /><br />
        <nz-table #borderedTable nzBordered [nzShowSizeChanger]="true" [nzPageSizeOptions]='[5,10,20,30]'
            [nzPageSize]="5" [nzShowTotal]="totalTemplate" [nzData]="announcements" [nzLoading]="loading">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>标题</th>
                    <th>内容</th>
                    <th>是否显示</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of borderedTable.data">
                    <td>{{ data.id }}</td>
                    <td>{{ data.title }}</td>
                    <td>{{ data.content }}</td>
                    <td>{{ data.isDisplay }}</td>
                    <td>
                        <button nz-button nzType="primary" (click)="editAnnouncement(data)" nzTooltipTitle="编辑"
                            nzTooltipPlacement="topLeft" nz-tooltip>
                            <i nz-icon nzType="edit" nzTheme="fill"></i>
                        </button>
                        <nz-divider nzType="vertical"></nz-divider>

                        <button nz-button nzType="primary" nzDanger nzTooltipTitle="删除" nzTooltipPlacement="topLeft"
                            nz-tooltip nz-popconfirm nzPopconfirmTitle="确认删除？" nzOkText="确认"
                            nzCancelText="取消" (nzOnConfirm)="deleteAnnouncement(data.id)">
                            <i nz-icon nzType="delete" nzTheme="fill"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <ng-template #totalTemplate let-total> 共 {{ total }} 个</ng-template>
</div>

<app-announcement-detail (isNeedRefresh)="refresh()"></app-announcement-detail>