<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="500" [nzVisible]="isVisible"
    [nzTitle]="pageTitleChinese" [nzFooter]="footerTpl" (nzOnClose)="close()">
    <ng-container *nzDrawerContent>
        <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">Id</nz-tag><br />
                <input type="text" nz-input [(ngModel)]="id" disabled="true" />
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">标题</nz-tag><br />
                <nz-input-group [nzSuffix]="inputClearTpl">
                    <input type="text" nz-input [(ngModel)]="title" placeholder="Input title" />
                </nz-input-group>
                <ng-template #inputClearTpl>
                    <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="title"
                        (click)="title = ''"></i>
                </ng-template>
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">内容</nz-tag><br />
                <textarea rows="4" nz-input [(ngModel)]="content"></textarea>
            </div>
            <div nz-col nzSpan="24">
                <nz-tag class="tag" [nzColor]="'cyan'">是否显示</nz-tag><br />
                <nz-switch [(ngModel)]="isDisplay" [nzCheckedChildren]="checkedTemplate"
                    [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
                <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
                <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
            </div>
        </div>
    </ng-container>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="close()">取消</button>
            <button nz-button nzType="primary" (click)="submit()">提交</button>
        </div>
    </ng-template>
</nz-drawer>