<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>美术艺考教学资源系统</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a routerLink="/home-announcement">
          <i nz-icon nzType="notification"></i>
          <span>Announcement</span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/home-resource">
          <i nz-icon nzType="appstore"></i>
          <span>Resource</span>
        </a>
      </li>
      <li nz-menu-item *ngIf="!isUserConnected">
        <a routerLink="/user-login-register">
          <i nz-icon nzType="user-switch"></i>
          <span>User-login-register</span>
        </a>
      </li>
      <li nz-menu-item *ngIf="isUserConnected">
        <a routerLink="/user-info-logout">
          <i nz-icon nzType="user"></i>
          <span>User-info-logout</span>
        </a>
      </li>
      <li nz-submenu nzOpen nzTitle="Admin" nzIcon="form" *ngIf="isAdmin">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/announcement">Announcement</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user">User</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/resource-type">Resource-type</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/resource">Resource</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user-favorite">User-favorite</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/comment">Comment</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
