<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>美术艺考教学资源系统</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a routerLink="/home-announcement">
          <i nz-icon nzType="notification"></i>
          <span>公告</span>
        </a>
      </li>
      <li nz-menu-item>
        <a routerLink="/home-resource-view">
          <i nz-icon nzType="appstore"></i>
          <span>查看资源</span>
        </a>
      </li>
      <li nz-menu-item *ngIf="isUserConnected">
        <a routerLink="/home-resource-edit">
          <i nz-icon nzType="appstore"></i>
          <span>编辑资源</span>
        </a>
      </li>
      <li nz-menu-item *ngIf="!isUserConnected">
        <a routerLink="/user-login-register">
          <i nz-icon nzType="user-switch"></i>
          <span>用户登录注册</span>
        </a>
      </li>
      <li nz-menu-item *ngIf="isUserConnected">
        <a routerLink="/user-info-logout">
          <i nz-icon nzType="user"></i>
          <span>用户个人中心</span>
        </a>
      </li>
      <li nz-menu-item *ngIf="isUserConnected">
        <a routerLink="/shopping-cart">
          <i nz-icon nzType="shopping-cart"></i>
          <span>购物车</span>
        </a>
      </li>
      <li nz-submenu nzOpen nzTitle="管理员" nzIcon="form" *ngIf="isAdmin">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/announcement">公告管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user">用户管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/resource-type">资源类型管理</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="false">
            <a routerLink="/user-favorite">User-favorite</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/comment">评论管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/order">订单管理</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/data-visualization">数据可视化</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
