.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-form {
    width: 400px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-button {
    width: 100%;
}

.register-form-button {
    width: 400px;
}